<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ page.title }}</title>
<link rel="stylesheet" href="/assets/css/main.css" type="text/css">

<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@ultra_dao" />
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:description" content="{{ page.subtitle }}" />
<meta property="og:url" content="https://ultradao.org" />

<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.subtitle }}" />
<meta property="og:image" content="https://ultradao.org/assets/img/ultradao.jpg" />