<title>UltraDAO</title>
<link rel="stylesheet" href="/assets/css/main.css" type="text/css">

<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@ultra_dao" />
<meta name="twitter:title" content="UltraDAO" />
<meta name="twitter:description" content="A DAO for the arts, by the artists." />
<meta property="og:url" content="https://ultradao.org" />

<meta property="og:title" content="UltraDAO" />
<meta property="og:description" content="A DAO for the arts, by the artists." />
<meta property="og:image" content="https://ultradao.org/assets/img/ultradao.jpg" />