/* ./src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body{
    background-color: #040404;
    @apply text-white;
    line-height: 1.2;
  }

  h1 {
    @apply mb-4 pb-0 text-3xl md:text-6xl leading-loose font-light;
  }

  h2 {
    @apply font-light text-3xl pb-4 leading-normal;
  }

  p,
  ul,
  ol,
  dl{
    line-height: 1.5;
  }

  a {
    @apply text-white hover:text-white font-light underline hover:no-underline;
  }

  .button{
    @apply hover:text-black hover:bg-white text-base no-underline font-medium rounded-md text-white hover:no-underline bg-indigo-600 px-6 py-4;
  }

  .button-alt{
    @apply inline-flex items-center no-underline justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200;
  }
}

h1 {
  @apply leading-tight;
}

.container{
  width: 1280px;
  max-width: calc(100% - 2rem);
}

.home .primary-nav{
  @apply sticky top-0 z-50;
}

.home .primary-nav nav{
  @apply container mx-auto;
}

.home .hero{
  top: -82px; position: relative; 
  background-image: 
    linear-gradient(to bottom, rgba(0,0,0, 0.9) 0%, rgba(117, 19, 93, 0) 50%),
    url('https://www.woodiesnft.com/images/hero_bg.webp');
  background-size: cover; 
  background-position: 43% 100%; 
}

.mjx-chtml {
  font-size: 100% !important;
}

nav{
  border-bottom: 2px solid white;
}

.logo *{
  fill: white;
  width: 100%;
  max-width: 125px;
}

.grid-item{
  @apply mb-4;
}

.grid-item img{
  @apply mb-2 rounded;
}

.prose{
  color: #a9a9a9;
}

.prose strong,
.prose h1,
.prose h2,
.prose h3, 
.prose h4,
.prose h5,
.prose h6{
  color: white;
}

.typer{
  text-overflow: ellipsis;
}

.image-cover-container{
  @apply sm:flex gap-4 w-full;
}

.image-cover-container,
.image-cover-container li{
  @apply m-0 p-0;
  list-style: none;
}

.image-cover-container li{
  @apply mb-4 md:mb-0 w-full;
}

.image-cover-container img{
}

.image-cover{
  position: relative;
}

.image-cover:after{
  @apply rounded-lg bg-gradient-to-t from-black via-transparent opacity-60 sm:opacity-0;
  transition: all 200ms linear;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.image-cover .hide-lg{
  transition: all 200ms ease-in-out;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  z-index: 2;
  text-align: center;
  font-size: 1rem;
}

.image-cover:hover:after{
  opacity: 0.6;
}

.image-cover:hover .hide-lg{
  display: block;
  bottom: 15px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn-gold-border{
  background: 
    linear-gradient(#DEAE83, #A16B39) padding-box,
    linear-gradient(to right, #DEAE83, #A16B39) border-box;
  border-radius: 5px;
  border: 4px solid transparent;
}