/* ./src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #040404;
    @apply text-white;
    line-height: 1.2;
  }

  h1 {
    @apply mb-4 pb-0 text-3xl md:text-4xl max-w-5xl leading-loose font-light;
  }

  h2 {
    @apply font-light text-3xl pb-4 leading-normal;
  }

  p,
  ul,
  ol,
  dl {
    line-height: 1.5;
  }

  a {
    @apply text-white hover:text-white font-light underline hover:no-underline;
  }

  .button {
    @apply hover:text-black hover:bg-white text-base no-underline font-medium rounded-md text-white hover:no-underline bg-indigo-600 px-6 py-4;
  }

  .button-alt {
    @apply inline-flex items-center no-underline justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200;
  }
}

h1 {
  @apply leading-tight;
}

.container {
  width: 1280px;
  max-width: calc(100% - 2rem);
}

.home .hero {
  top: -82px;
  position: relative;
  background-size: cover;
  background-position: 43% 100%;
  overflow: hidden;
  z-index: 10;
}

.mjx-chtml {
  font-size: 100% !important;
}

.logo * {
  fill: white;
  width: 100%;
  max-width: 125px;
}

.grid-item {
  @apply mb-4;
}

.grid-item img {
  @apply mb-2 rounded;
}

.prose {
  color: #a9a9a9;
}

.prose strong,
.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  color: white;
}

.typer {
  text-overflow: ellipsis;
}

.image-cover-container {
  @apply sm:flex gap-4 w-full;
}

.image-cover-container,
.image-cover-container li {
  @apply m-0 p-0;
  list-style: none;
}

.image-cover-container li {
  @apply mb-8 md:mb-0 w-full md:w-1/3;
}

.image-cover-container a {
  @apply no-underline;
}

.image-cover-container a:hover {
  @apply underline;
}

.image-cover-container img {
  @apply mb-2 rounded-sm;
}

.image-cover-container h2 {
  @apply text-center pt-2 text-xl;
}

.image-cover {
  position: relative;
}

.image-cover:after {
  @apply rounded-lg bg-gradient-to-t from-black via-transparent opacity-60;
  transition: all 200ms linear;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.image-cover .hide-lg {
  transition: all 200ms ease-in-out;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  z-index: 2;
  text-align: center;
  font-size: 1rem;
}

.image-cover:hover:after {
  opacity: 0.6;
}

.image-cover:hover .hide-lg {
  display: block;
  bottom: 15px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn-gold-border {
  background: linear-gradient(#deae83, #a16b39) padding-box,
    linear-gradient(to right, #deae83, #a16b39) border-box;
  border-radius: 5px;
  border: 4px solid transparent;
}

.new-tag {
  @apply uppercase text-xs text-red-600 font-medium;
}

.gradient-filter-bg > .container {
  position: relative;
  z-index: 1;
}

.gradient-filter-bg .prose {
  color: white;
  opacity: 80;
}

.twelve-days-animation {
  @apply grid content-center items-center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  overflow: hidden;
}

.join-ultradao {
  @apply max-w-xl mx-auto text-center py-12 px-4 sm:px-6 lg:py-16 lg:px-8;
}

.join-ultradao h3 {
  @apply text-2xl font-light tracking-tight sm:text-2xl mb-4;
}

.overlay-filter {
  background-image: url("/assets/images/bg-repeater.png");
  background-repeat: repeat;
  background-size: 20px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  backdrop-filter: blur(16px);
}

.twelve-days-animation video {
  width: 160%;
  height: 160%;
  max-width: 650%;
  left: -30%;
  top: -30%;
  position: relative;
  opacity: 0.88;
}

.curated-subtitle {
  @apply mb-2 md:mb-4 block text-sm md:text-base font-normal uppercase tracking-widest text-gold-500;
}

.momenta-details {
  @apply text-center md:text-left px-10 pt-16 pb-0 md:p-5;
}

.momenta-details h1 {
  @apply mb-4 text-[#222] text-3xl lg:text-4xl;
}

.preview-frame {
  @apply flex justify-center items-center lg:aspect-[12/8] mt-6 md:pb-8 rounded-md;
  background-image: url("/assets/images/momenta-frame.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% auto;
  background-color: #cec4ba;
}

.preview-frame #momentaPreview {
  @apply min-h-[320px] md:h-full flex items-center mb-16 md:mb-0;
}

.preview-frame canvas {
  border: 6px solid black;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.coming-soon {
  @apply md:text-sm font-normal uppercase tracking-widest text-stone-600 border border-stone-600 rounded-full px-6 py-2 inline-block;
  font-size: 11px;
}

.card-zoom {
  @apply block items-end no-underline rounded-md relative flex items-end justify-center my-3 overflow-hidden shadow-xl h-96 rounded-2xl;
}

.card-zoom:hover .card-zoom-image {
  @apply scale-110;
}

.card-zoom-image {
  @apply absolute w-full h-full transition-all duration-500 ease-in-out transform bg-center bg-cover z-0;
}

.card-zoom .subtitle.above {
  @apply bg-white rounded-full px-3 curated-subtitle;
  display: inline-block;
  font-size: 11px;
}

.card-zoom-text {
  @apply text-white mb-0 p-8 mb-2 z-10 w-full relative;
}

.card-zoom-text h2 {
  @apply leading-tight block text-3xl;
}

.alba-logo {
  @apply mt-4 mb-4 mx-auto max-w-[120px];
}

.alba-logo .st0 {
  fill: white;
}

.art-preview-image {
  @apply max-w-[200px] mx-6;
}

.preview-frame {
  @apply md:overflow-x-hidden;
}

.momenta-cover-button {
  @apply border-0 text-white;
  background: linear-gradient(180deg, #b78c69 0%, #916d4f 100%);
  box-shadow: rgba(0, 0, 0, 0.14) 0 4px 4px,
    inset rgba(229, 183, 145, 0.8) 0 1px 0;
}

.momenta-cover-button:hover {
  @apply text-white;
  background: linear-gradient(180deg, #c1946f 0%, #9d7656 100%);
  box-shadow: rgba(0, 0, 0, 0.14) 0 4px 4px,
    inset rgba(235, 186, 146, 0.8) 0 1px 0;
}

.momenta-cover-button:active {
  color: rgba(255, 255, 255, 0.8);
  background: linear-gradient(180deg, #9d7656 0%, #ac8362 100%);
  box-shadow: inset rgba(0, 0, 0, 0.24) 0 -4px 4px;
}

.animated-bg{
  @apply absolute top-0 left-0 right-0 bottom-0 w-screen h-screen z-0;
}

body > .container{
  @apply relative z-10;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.marquee-text {
  @apply text-sm md:text-base;
  display: inline-block;
  white-space: nowrap;
  animation: marquee 20s linear infinite; /* Adjusted time for smoother transition */
}

.marquee-text span{
  @apply mr-1;
}

/* For #elToAnimate */
.elToAnimate {
  @apply  text-center grid grid-cols-1 gap-4 content-center min-h-[60vh] md:min-h-[80vh] bg-[#000555] rounded-xl py-16 md:py-8 relative overflow-x-hidden;
}

/* For the logo image */
.logo-image {
  @apply w-[180px] block mb-12 md:mb-16 mx-auto z-20 relative;
}

/* For now-open-banner div */
.now-open-banner {
  @apply relative z-10;
}

/* For marquee-scroll div */
.marquee-scroll {
  @apply left-[-35%] md:left-[-50%] w-[110%] rotate-[-45deg] absolute top-[-60%] mb-6 md:overflow-x-hidden;
}

/* For marquee-text div */
.marquee-text {
  @apply whitespace-nowrap uppercase border-y-2 border-white text-white z-0 py-2;
}

/* For the Ultraworld logo image */
.ultraworld-logo {
  @apply w-full px-16 md:px-8 sm:max-w-[525px] block mb-2 md:mb-10 mx-auto relative z-10 p-4 md:p-0;
}

/* For h1 */
.heading {
  @apply lg:max-w-[66%] max-w-[86%] text-lg md:text-xl mx-auto mb-12 relative z-30;
}

/* For the anchor link */
.submit-link {
  @apply relative z-30 py-4 px-8 w-auto mx-auto rounded-full bg-white text-black hover:bg-black no-underline;
}
