---
common-css:
  - "./assets/css/main.css"
---

<!DOCTYPE html>
<html lang="{{ page.language | default: site.language | default: 'en' }}">
{% include head.html %}

<body>

  <nav id="primary-nav" class="primary-nav" role="navigation">
    <ul>
      <li><a href="/">UltraDAO</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/collection">Collection</a></li>
      <li><a href="https://discord.gg/FNYJWNbQ">Discord</a></li>
      <li><a href="https://twitter.com/Ultra_DAO">Twitter</a></li>
    </ul>
  </nav>

  {{ content }}

</body>
</html>
